.social-gnu {
	background-image: url('../img/social-gnu.svg');
}
.social-diaspora {
	background-image: url('../img/social-diaspora.svg');
}
.social-twitter {
	background-image: url('../img/social-twitter.svg');
}
.social-facebook {
	background-image: url('../img/social-facebook.svg');
}
.social-googleplus {
	background-image: url('../img/social-googleplus.svg');
}
